{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    {% include 'layouts/navbar.html' %}
    <div class="text-center">
        <h3>Here is some ASCII art I made with Python</h3>
    </div>
    <pre class="text-center">
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&%&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%%&&<<<<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%%@&<<<<<<<<<<<<<<<<<<&&&%%&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%@@&<<<<<<<<<<<<<<<<&&%%%%&&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%@@@@&<<<<<<<<<<<<<$@@%%%%&&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&@@@@&<<<<<<<<<<<<$@@@%%%&&&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@&<<<<<<<<<<$@@@@@@%&&&<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@&<<<<<<<<<#@@@@@@@&&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<@@@@&$$@@@$$##@@@@@@@@&&<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<$@@$$/////@@@@@@@@@@@&<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<#@/////////@@@@@@@&&<<<<<<<<<<$$<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<@@@/////////@@@@@#&<<<<<<<<<<$@/@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<#@@@@/////@@&&@@@@#<<<<<<<<<<$/@@@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@&&@@@@@@@&<&&@@@@&<<<<<<<<$/@@@@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<$@&<&@@@@@@@&&%&@@@@&<<<<<<$@/@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<<#@&&%@@@@@@@@&&@@@@@#<<<<<$//@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<#$@$&@@@#@@@@@@@@%%@@@&<<@@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<&$@@@@@@@@@@$@@@%%%#@@&##@@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<&%@@@@@$####@@@@%%%#@##/$#@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<#<&#@@@@@##$$@@@@%%###/$@//#@@@@@@@@@@&<<<<<<<<<<
<<<<<<<<<<<<<<#/###@@@@@#$$#@@@@@##@#@@@@$#@@@@@@@@#&<<<<<<<<<<<
<<<<<<<<<<<<<#/@@@#@@@@@@##@@@@@@@@#@@@@@@&@@@@@@#&<<<<<<<<<<<<<
<<<<<<<<<<<<<<$@@@@#@@@@@@@@@@@@@@#@@@@@@&@@@@@#&<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#@@@@$$@@@@@@@@@@@@@@@@@@@@&@@@@#<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<&@@@$@@@@@@@@@@@@@@@@@@@@&#@@@&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<&@@@@@@@@@@@@@@@@@@@@@@&<<#@@@&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&#@@@@@@@@@@@@@@@@@@@@&<<<#@@@&<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@@@@@@@@@@@@@@@$#<<##@@@@@&<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<#@@@@@@@@@@@@@@@@@@$@#&&@@@@@#&<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<$@@@@@@@@@@@@@@@@@@@@#@@@@@#&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<#@@@@@@@@@@@@@@@@@@@@#@@@@&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<###@@@@@@@@@@@@@@@@@@@&@@@&<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#//$#@@@@@@@@@@@@@@@@@@&&@@@&<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<$$@$@#@@@@@@@@@@@@@@@@@&<&$$@&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#@@@@$@@@@@@@@@@@@@@@@@&&###$@&<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<$@@@@#@@@@@@@@@@@@@@@@####&&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<#@@@#@@@@@@@@@@@@@@@##&&&<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<&@@@&@@@@@@@@@@@@@@@&&<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<#&&@@@@@@@@@@@@@@@$&<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<&&&&#$@@@@@@@@@&<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<&&#@@@@@#&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<&&$$&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#$$$$&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#$#$$&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#@$@&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    </pre>
{% endblock %}